<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" href="/">
      <img src="<%-__basedir%>/img/brand/fakhruddin_dashboard.png" style="max-height: 8.5rem;width: 80%;" class="navbar-brand-img" alt="...">
    </a>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item dropdown">
        <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <span class="avatar avatar-sm" style="background-color: transparent !important;">
            <img alt="Image placeholder" src="<%-__basedir%>/img/icons/bell.png">
            <span class="badge cound_val" style="color: #fff;background-color: #f7d360;margin-top: -19px;"></span>
          </span> -->
        </a>
        <% include ./notification_dropdown %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="<%-__basedir%>/img/theme/loginpage.jpeg">
            </span>
          </div>
        </a>
        <% include ./dropdown %>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="./index">
              <!-- <img src="<%-__basedir%>/img/brand/blue.png"> -->
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      
      <ul class="navbar-nav">
      
        <li class="nav-item">
          <a class="nav-link" href="/currentweekroi">
            <i class="fa fa-bullhorn text-pink"></i> Current Week
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nextweekroi">
            <i class="fa fa-bullhorn text-pink"></i> Next week
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/minutesofmeetings">
            <i class="fa fa-bullhorn text-pink"></i> My Meetings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users_roi">
            <i class="fa fa-bullhorn text-pink"></i> Reportee ROI
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
